.tab-bar {
    // @include onepx();
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    li {
      flex: 1;
      color: #999;
      display: block;
      a{
        display: block;
        width: 25px;
        height: 25px;
        margin: 3px auto;
        background: url('/static/img/footer/tab-icons.png') no-repeat;
        background-size: 25px auto;
        span{
          display: block;
          font-size: 12px;
          color: #999;
          line-height: 75px;
          height:25px;
        }
      }
    }
  
    li.router-link-active {
      color: #333;
    }
  
    .ico-index {
      background-position: 0 -75px;
    }
   .indexClick {
      background-position: 0 -50px;
    }
  
    .ico-find {
      background-image: url('/static/img/footer/find.png');
    }
    .findClick {
      background-image: url('/static/img/footer/find1.png');
    }
  
    .ico-order {
      background-position: 0 -25px;
    }
    .orderClick {
      background-position: 0 0;
    }
  
    .ico-mine {
      background-position: 0 -125px;
    }
    .mineClick {
      background-position: 0 -100px;
    }
  }