body{
    font-size:0.16rem;
}
// banner
.ant-carousel .slick-slide {
    text-align: center;
    // height: 2rem;
    line-height: 100%;
    background: #364d79;
    overflow: hidden;
    img{
        width:100%;
    }
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }